<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tesseract.OTserver.mappers.FileMapper">

    <!-- Data type maps -->
    <resultMap id="GetDocumentResponseMap" type="GetDocumentResponse">
        <id column="id" property="id" />
        <result column="password_hash" property="password_hash" />
        <result column="filename" property="filename" />
    </resultMap>

    <resultMap id="GetDocumentMetaResponseMap" type="GetDocumentMetaResponse">
        <id column="id" property="id" />
        <result column="filetype" property="filetype" />
        <result column="filename" property="filename" />
    </resultMap>

    <!-- Query definitions -->
    <select id="getDocumentById" resultMap="GetDocumentResponseMap">
        SELECT id,password_hash,filename,filetype FROM document WHERE id=#{id}
    </select>

    <select id="getDocumentMetaById" resultMap="GetDocumentMetaResponseMap">
        SELECT id,filename,filetype FROM document WHERE id=#{id}
    </select>

    <!-- Last three properties populate request's id field as the auto generated ID from mySQL -->
    <insert id="createDocument" parameterType="CreateDocumentRequest" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO document
        (password_hash, filename, filetype)
        VALUES
        (#{request.password_hash}, #{request.filename}, #{request.filetype})
    </insert>

    <delete id="deleteDocumentById">
        DELETE FROM document WHERE
        id = #{id}
    </delete>

<!--    <update id="updateDocument">-->
<!--        UPDATE user SET-->
<!--        <if test = "request.username != null">-->
<!--            username = #{request.username},-->
<!--        </if>-->
<!--        <if test = "request.password != null">-->
<!--            password_hash = #{request.password},-->
<!--        </if>-->
<!--        <if test = "request.email != null">-->
<!--            email = #{request.email},-->
<!--        </if>-->
<!--        <if test = "request.confirmationCode != null">-->
<!--            confirmation_code = #{request.confirmationCode},-->
<!--        </if>-->
<!--        <if test = "request.confirmationDate != null">-->
<!--            confirmation_date = #{request.confirmationDate},-->
<!--        </if>-->
<!--        updated_at = CURRENT_TIMESTAMP()-->
<!--        WHERE id = #{request.id}-->
<!--    </update>-->
</mapper>